# Игнорировать все файлы в директории node_modules
node_modules/

# Игнорировать файл конфигурации окружения
.env

# Игнорировать лог-файлы
*.log

# Игнорировать директорию сборки
dist/

# Игнорировать временные файлы
*.tmp
*.temp

docsparsing-12739e641ac7.json
temp.docx